*~
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
run/gc-7.2
run/libgc
run/c/cljc
run/c/cljc.dSYM
run/c/*.c
run/c/*.o
run/c/*-exports.clj
run/objc/cljc
run/objc/cljc.dSYM
run/objc/*.m
run/objc/*.o
run/objc/*-exports.clj
run/ClojureCApp/ClojureCApp.xcodeproj/project.xcworkspace/xcuserdata
run/ClojureCApp/ClojureCApp.xcodeproj/xcuserdata/schani.xcuserdatad
