/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
run/cljc
run/gc-7.2
run/libgc
run/cljc.dSYM
run/*.c
run/*.m
run/*.o
run/ClojureCApp/ClojureCApp.xcodeproj/project.xcworkspace/xcuserdata
run/ClojureCApp/ClojureCApp.xcodeproj/xcuserdata/schani.xcuserdatad
run/*-exports.clj
